<ul class="navigation__list">
	<li class="navigation__list-item"><a href="/" class="btn navigation__link is-active" data-js-hook="nav-link">Home</a></li>
	<li class="navigation__list-item"><a href="/profcoach" class="btn navigation__link" data-js-hook="nav-link">Profcoach</a></li>
	<li class="navigation__list-item"><a href="/football" class="btn navigation__link" data-js-hook="nav-link">Football API</a></li>
	<li class="navigation__list-item"><a href="/backlog" class="btn navigation__link" data-js-hook="nav-link">Backlog</a></li>
</ul>