<h1>Backlog</h1>
<p>Dit is een uitbgebreid lijstje met tools, frameworks en ideeen die ik graag wil toepassen.</p>

<h2>DO NOW</h2>
<ul class="unstyled">
	<li class="u-line-through">Install BackboneJS</li>
	<li class="u-line-through">Change base font to Open Sans - <a target="_blank" href="http://www.fontsquirrel.com/fonts/open-sans">Open Sans</a></li>
	<li class="u-line-through">Create Single Page App pattern</li>
	<li class="u-line-through">Remove Playground from Boilerplate</li>
	<li class="u-line-through">Inspiration: Menu & Colors - <a target="_blank" href="http://tympanus.net/codrops/2015/11/17/multi-level-menu/">CoDrops</a></li>
	<li class="u-line-through">Remove Bourbon</li>
	<li class="u-line-through">Install PostCSS (AutoPrefix) - GruntTask - <a target="_blank" href="https://github.com/postcss/autoprefixer">GitHub</a></li>
	<li class="u-line-through">Remove local fonts, use Google Fonts API instead - <a target="_blank" href="http://www.awwwards.com/20-best-web-fonts-from-google-web-fonts-and-font-face.html">Awwwards Recommends</a></li>
	<li class="u-line-through">Apply Vertical Rhythm - <a target="_blank" href="https://github.com/vicompany/vertical-rhythm">GitHub</a></li>
	<li>Install SVG Sprited Icons - <a target="_blank" href="https://useiconic.com/open/">Iconic</a></li>
	<li>Move Pages Logic from Components to Pages folder</li>
</ul>

<h2>FOOTBALL API</h2>
<ul class="unstyled">
	<li>Use Backbone.D3View in football with FOOTBALL-DATA api - <a target="_blank" href="https://github.com/akre54/Backbone.D3View">GitHub</a></li>
</ul>

<h2>REACT</h2>
<ul class="unstyled">
	<li>ReactJS - <a target="_blank" href="http://facebook.github.io/react/index.html">React</a></li>
	<li>Check React DOM</li>
	<li>Check React Native</li>
	<li>Check Redux - EventBindings</li>
	<li>Check Material UI - React Components</li>
	<li>Check Belle - React Components</li>
</ul>

<h2>TRY</h2>
<ul class="unstyled">
	<li>Try FlexBox - <a target="_blank" href="http://flexbox.io/#/">Flexbox.io</a></li>
	<li>Try Localstorage API - <a target="_blank" href="https://developer.mozilla.org/nl/docs/Web/API/Window/localStorage">MDN</a></li>
	<li>Try GulpJS - <a target="_blank" href="http://gulpjs.com/">Gulp</a></li>
	<li>Tru SocketIO - <a target="_blank" href="http://socket.io/">Socket.io</a></li>
	<li>Try ExpressJS - <a target="_blank" href="http://expressjs.com/">ExpressJS</a></li>
</ul>